.contact-container h2 {
  color: black; /* Cinza claro para maior contraste */
  margin-bottom: 20px;
  font-size: 28px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Realça o texto */
}


.contact-form {
  background-color: #ffffff; /* Fundo branco para os formulários */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group label {
  color: #333333; /* Cinza escuro para melhor contraste */
  font-size: 14px;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  color: #000000; /* Preto para o texto dos campos */
  background-color: #ffffff; /* Fundo branco */
  border: 1px solid #ccc; /* Bordas cinza claras */
}

button {
  background-color: #0984e3; /* Azul mais escuro para contraste */
  color: #ffffff; /* Texto branco */
  font-size: 16px;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background-color: #0747a6; /* Azul mais escuro no hover */
}

.success-message {
  color: #28a745; /* Verde vibrante para mensagens de sucesso */
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .contact-container {
    padding: 10px;
  }

  .contact-form {
    max-width: 200px;
  }
}
