.footer {
    text-align: center;
    padding: 15px 20px;
    background-color: #f8f9fa; /* Cinza claro */
    color: #333; /* Cinza escuro */
    border-top: 1px solid #ddd;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer p {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #555;
  }
  
  .footer p:hover {
    color: #007bff; /* Azul destaque */
    transition: color 0.3s ease;
  }
  