/* Estilos para o Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #007bff; /* Azul mais escuro */
  color: white; /* Texto branco */
  border-top: 1px solid #333; /* Separador */
  width: 100%; /* Garante que ocupa toda a largura */
  font-size: 14px;
  font-weight: 400;
  position: relative; /* Usado para layout flexível */
  bottom: 0;
}

/* Efeito de hover */
.footer p:hover {
  color: #ffdd57; /* Amarelo para hover */
  transition: color 0.3s ease;
}

/* Contêiner principal, ajustando para layout flexível */
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o contêiner tenha altura mínima da tela */
}

.admin-dashboard {
  flex-grow: 1; /* O conteúdo da dashboard pode crescer para preencher o restante da altura */
}
