.plans-details-container {
  padding: 30px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ffffff, #f0f0f5);
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.plans-cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;
}

.premium-note {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #555;
  text-align: center;
  line-height: 1.6;
}

.pack_card {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: 2px solid #6366f1;
  padding: 20px 15px;
  margin-top: 20px;
  background: #ffffff;
  max-width: 320px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.pack_card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}

.banner {
  position: absolute;
  left: 0;
  right: 0;
  top: -25px;
  display: flex;
  justify-content: center;
}

.banner_tag {
  display: flex;
  height: 1.75rem;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background-color: #6366f1;
  padding: 0.3rem 1rem;
  font-size: 0.8rem;
  line-height: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #ffffff;
}

.pack_name {
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.8rem;
  line-height: 2.2rem;
  font-weight: 700;
  color: #1f2937;
}

.description {
  margin: 0 auto 20px auto;
  text-align: center;
  color: #6b7280;
  font-size: 1rem;
}

.bottom {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.price_container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 5px;
}

.devise {
  align-self: flex-start;
  color: #4b5563;
}

.price {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  color: #1f2937;
}

.date {
  color: #6b7280;
}

.btn {
  display: block;
  border-radius: 8px;
  background-color: #6366f1;
  padding: 12px 30px;
  text-align: center;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
  box-shadow: 0 4px 10px rgba(99, 102, 241, 0.3);
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #4f46e5;
  box-shadow: 0 6px 15px rgba(79, 70, 229, 0.3);
}

.btn:active {
  background-color: #4338ca;
}

.back-button {
  margin-top: 30px;
  background-color: #34d399;
  color: white;
  border: none;
  padding: 10px 20px; /* Diminuído para reduzir largura */
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.back-button:hover {
  background-color: #22c55e;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .plans-cards {
    flex-direction: column;
    align-items: center;
  }

  .pack_card {
    max-width: 100%;
  }
}
