.plans-details-container {
    padding: 20px;
  }
  
  .plan-detail {
    margin-bottom: 20px;
  }
  
  .info-button, .back-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .info-button:hover, .back-button:hover {
    background-color: #45a049;
  }
  