.profile-container {
    padding: 20px;
  }
  
  .profile-title {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .profile-info {
    margin-bottom: 20px;
  }
  
  .profile-field {
    margin: 10px 0;
  }
  
  .plan-description {
    margin-top: 20px;
  }
  
  .plan-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .all-plans {
    margin-top: 20px;
  }
  
  .plans-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .plan-options {
    display: flex;
    justify-content: space-between; /* Faz com que fiquem lado a lado */
    gap: 20px; /* Espaçamento entre os planos */
  }
  
  .plan-option {
    flex: 1; /* Faz cada plano ocupar o mesmo espaço */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
  }
  
  .plan-option h4 {
    margin-bottom: 15px;
    font-size: 1.2rem;
  }
  
  .upgrade-button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .upgrade-button:hover {
    background-color: #45a049;
  }
  
  .plan-details {
    margin-top: 20px;
  }
  
  .plan-details-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  
  .cancel-container {
    margin-top: 20px;
  }
  
  .cancel-button {
    padding: 10px 15px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .cancel-button:hover {
    background-color: #e53935;
  }
  
  .premium-message {
    font-size: 1.1rem;
    color: #4CAF50;
    margin-top: 20px;
  }
  